.hero {
  background: url("/images/heroImage.png") no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 769px) {
  .slide {
    animation: slide 15s linear infinite;
  }

  @keyframes slide {
    100% {
      transform: translateX(calc(-25% * 4));
    }
  }
}

.news {
  width: 100%;
  object-fit: cover;
}

html {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272629;
  padding-top: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #11f169;
}

.dropdown:hover .dropdown-content {
  display: block;
}
